{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 30.234143,
    "longitude": -97.75105269791666,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/Chicago",
    "external_url": "https://1zbxl64ljm7ms2kkzestur9vlaqq9bw8.ui.nabu.casa",
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 100
  }
}